:root{
  --primary_color: #b1cdff;
  --secondary_color: #8b99ff;
  --highlight: #0000008c;
  --border: #3c53ff;
}

* {
  
  text-decoration: none;
  color: black;
  
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  
  background-color: var(--primary_color);
 
}
header,
footer {
width: auto;
height: 150px;
padding: 10px 70px 3px;
display: flex;
justify-content: space-between;
align-items: center;
/* font-size: 140%; */

}
header {
  margin: auto;
  border-bottom: 3px solid var(--border);
  background-image: url(../images/Waves.jpg);
  background-position:10%;
  background-size:cover;
  background-repeat: no-repeat;
}
header nav a,
header h1,
footer h3,
footer a {
  background-color: var(--highlight);
  padding: 2px 2px;
  color: white;
}
header nav {
  
  /* width: 20%; */
  /* margin-right: 5em;
  margin-left: 5em; */
  display: flex;
  justify-content: space-between;
  /* font-size: 85%; */
}
header nav a {
  margin: 1em;
}

main {
  padding: 1%;
  height: 100%;
  /* margin-bottom: 50px; */
 display: flex;
 flex-direction: column;

  
}

#about {
  
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  padding: 10px 50px;
}
#about h2 {
  width: 40%;
}
#about #pisa {
  width: 700px;
  height: 200px;
  margin-bottom: 3px;
  background-image: url(../images/Pisa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-section {
  background-color: var(--secondary_color);
  margin-bottom: 14px;
}
#work {
  padding: 5px;
  display: grid;

  grid-template: repeat(4, 200px) / repeat(6, 1fr);
  grid-template-areas: 
    "item1 item1 item1 item1 item1 item1"
    "item1 item1 item1 item1 item1 item1"
    "item2 item2 item2 item3 item3 item3"
    "item4 item4 item5 item5 item6 item6";
    gap: 4px;
}
#item1 {
  grid-area: item1;
  background-image: url(../images/02-portfolio-1.jpg);
}
#item2 {
  grid-area: item2;
  background-image: url(../images/Horiseon.jpg);
}
#item3 {
  grid-area: item3;
  background-image: url(../images/02-portfolio-3.jpg);
}
#item4 {
  grid-area: item4;
  background-image: url(../images/02-run-buddy.jpg);
}
#item5 {
  grid-area: item5;
  background-image: url(../images/02-portfolio-4.jpg);
}
#item6 {
  grid-area: item6;
  background-color: orange;
}

 .page-section a {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, fr1);
  grid-template-areas:
    "space"
    "space"
    "title";
 }  
 .deadspace {
  grid-area: space;
 }
 .proTitle {
  grid-area: title;
 }
 .proText {
  grid-area: text;
 }
#work a:hover {
  grid-template-areas:
  "title"
  "space"
  "text";
}
#work a:hover p {
  display:inline;
}



#work h3 {
  display: inline;
  padding: 0.3em 1.3em;
  background-color: var(--highlight);
  color: white;
}
#work p {
  display: none;
  margin-top: auto;
  height:max-content; 
  padding: 10% 1.3em;
  background-color: var(--highlight);
  color: white;
}
#contact {
  padding: 12px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0;
  /* background-color: #fff7008c; */
}

footer {
  border-top: 3px solid var(--border);
  /* margin: auto; */
  
  justify-content: center;
  background-image: url(../images/Waves.jpg);
  background-size: cover;
  background-position: bottom;
  font-size: 200%;
}

@media only screen and (max-width: 768px) {
  #header h1 {
    width: 46%;
    text-align: center;
    font-size: large;
  }
  header nav {
    /* width: 30%; */
    margin: 1em 3em;
    display: flex;
    justify-content: space-between;
    font-size: 83%;
  }
  #about {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
  justify-content: space-between;

    height: 500px;
    /* align-items: stretch; */
  }
  /* #abouttext {
    /* width: 50%; */
  /* }  */
  #about #pisa {
    width: 80%;
    height: 80%;
  }
}

@media only screen and (max-width: 400px) {
  /* #header h1 {
    width: 46%;
    text-align: center;
  } */
  #header nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
  }
  
  #about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
  }
  #about h2 {
    width: 100%;
  }
  #about #pisa {
    width: 200px;
    height: 200px;
    margin-top: 3px;
  }
  #work {
    height: 100%;
    padding: 2px;
    display: grid;
    grid-template-rows: 150px repeat(5, 90px);
    grid-template-columns: 1fr;
    grid-template-areas: 
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6";
      gap: 2px;
  }
  header,
footer {
width: auto;
padding: 12px 20px 6px;
margin-top: 10px;

font-size: 100%;
}
header nav {
  width: 40%;
  /* margin-right: 2em; */
  display: flex;
  justify-content: space-between;
  font-size: 75%;
}
header h1 {
  font-size: 120%;
}
}

